<div class="row">
    <div class="col-md-3">
    </div>
    <!-- beginning of the post blocks! -->
    <div class="col-md-6">
         <!-- Post -->
                     {% for post in posts %}

                <div class="row">
                <div class="row">
                    <div class="col-9">
                        <a href="{{ post.link }}"><h2>{{ post.title }}</h2></a>
                    </div>

                    <div class="col-2">
                    </div>

                    <!-- Edit Button -->
                    <div class="col-1 float-right text-right">
                        {% if post.author == request.user.profile %}
                            <form action="{% url 'like_post' post.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-info btn-block text-right"> Edit</button>
                            </form>
                        {% endif %}
                    </div>

                    <!-- Space -->
                    <div class="row">
                        <div class="col-1">
                            {% if post.space %}
                                <span class="badge text-bg-primary">{{ post.space.title }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Post Content-->
                    <p>{{ post.content }}</p>

                    <!-- Post Image-->
                    {% if post.image %}
                        <a href="{{ post.link }}"><img src="{{ post.image.url }}" style="width:100%"></a>
                    {%  endif %}


                    <p><a href="{{ post.link }}"></a>

                        <!-- Post Author -->
                    <div class="row">
                        <div class="col-6">
                            <p><strong><a href="/user/{{ post.author.id }}">{{ post.author }}</a></strong> shared this post.</p>
                            {% if post.likers.all.count == 0 %}
                                <p><strong> No one</strong> liked this post yet. Be the first liker!</p>
                            {% elif post.likers.all.count == 1 %}
                                <p><strong> 1</strong> person liked this post!</p>
                            {% else %}
                                <p><strong> {{ post.likers.all.count }}</strong> people liked this post!</p>
                            {% endif %}
                        </div>
                        <div class="col-3">

                        </div>
                        <div class="col-2">

                        </div>


                        <div class="row">

                            <div class="col-9">
                                <form action="{% url 'submit_comment' post.pk %}" method="post">
                                {% csrf_token %}
                                {{ comment_form }}
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-outline-info btn-block text-right">Comment</button>
                            </div>
                            </form>
                            <div class="col-1 float-right text-right">
                               <form action="{% url 'like_post' post.pk %}" method="post">
                                {% csrf_token %}

                                {% if  request.user.profile in post.likers.all %}
                                    <button type="submit" class="btn btn-info btn-block float-right"> 👍🏼 </button>
                                {% else %}
                                    <button type="submit" class="btn btn-outline-info btn-block float-right"> 👍🏼 </button>
                                {% endif %}

                               </form>
                            </div>
                        </div>



                        {% for comment in post.comment_set.all %}
                            <div class="row mt-2 p-2 bg-light">
                                <strong> <a href="/user/{{ comment.author.user.id}}">{{ comment.author.user.get_full_name }}</a> said</strong>  {{ comment.text }}

                            </div>


                        {% endfor %}

                    </div>

                </div>
                <br>
                <br>
                <hr>
                <br>
            {% endfor %}
    </div>
    <!-- end of the post blocks! -->
    <div class="col-md-3">
    </div>
</div>
