{% extends "application/base.html" %}
{% load static %}

{% block title %}
Landing Page!
{% endblock %}

{% block cssFiles %}
    <link rel="stylesheet" href="{% static 'application/index.css' %}">
{% endblock %}

{% block body_content %}
    {% include "application/include/header.html" %}

    <!-- Alert -->
    {% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'logout' %}">Logout?</a>
    </div>
    {% endif %}

    <!-- Jumbotron - Title -->
    <header class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
           <h1 class="display-3 slogan">A kiss is volatile but a K.I.S. stays forever.</h1>
           <p class="lead pb-4 mini-slogan">With <strong>Keep It Social</strong> you can keep anything you want, in a social way.</p>
            {% if user.is_authenticated %}
            {% else %}
                <a href="/login"><button class="btn btn-primary login-button btn-lg" href="/login">Login</button></a>
                 <a href="/register"><button class="btn btn-success register-button btn-lg">Register</button></a>
            {% endif %}
        </div>
    </header>


{% endblock %}