{% extends "application/base.html" %}


{% block body_content %}
    {% include "application/include/header.html" %}
    <div class="container mt-4">
        <h1>Spaces</h1>
        <hr>

        {% if user.is_authenticated %}
            <a href="/create-space" class="btn btn-success mb-4">Create a New Space</a>
        {% endif %}

        <div class="row">
            {% for space in spaces %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between">
                            <h5 class="card-title">{{ space.title }}</h5>
                            <p class="card-text">{{ space.description }}</p>
                            <div>
                                <a href="/space/{{ space.slug }}" class="btn btn-primary mr-3">View Space</a>
                                {% if user.is_authenticated %}
                                    {% if user.profile in space.members.all %}
                                        <form method="post" action="{% url 'leave_space' slug=space.slug %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Leave Space</button>
                                        </form>
                                    {% else %}
                                        <form method="post" action="{% url 'join_space' slug=space.slug %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary">Join Space</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
