{% extends "application/base.html" %}

{% block body_content %}
    {% include "application/include/header.html" %}

    <!--Login-->


    <div class="row">
        <div class="col">
        </div>

        <div class="col">
            <!--Register-->
            <br>
            <br>

            <h3>Login</h3>

            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field.label }}: <br> {{ field }}</p>
                {% endfor %}
                <button type="submit" class="btn btn-primary login-button btn-lg">Login</button>
            </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Signup here</a></p>

        </div>
        <div class="col">
        </div>
    </div>



{% endblock %}