{% extends "application/base.html" %}

{% block body_content %}
    {% include "application/include/header.html" %}
    <div class="row">
    {% for user in profiles %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            {% if user.user.profile_picture %}
                                <img src="{{ user.profile.profile_picture.url }}" alt="User profile picture" class="rounded-circle">
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <h5 class="card-title">{{ user.user.get_full_name }}</h5>

                            <a href="/user/{{ user.id }}" class="btn btn-primary">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
